* {
    margin: 0;
    padding: 0;
    /* have box sizing include everything except margin */
    box-sizing: border-box;
    background-color: #00a5ff;
}

canvas {
    position: absolute;
    background: url('static/img/water_bg.jpg');  /* Faster than drawing over and over on canvas */
    background-size: 100% 100%;
    top: 0;
    left: 0;
}

#loading_div, #lostconnect_div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#lostconnect_div p {
    color: red;
}
#loading_div {
    display: block;
    height: 160px;
}

#loading_div p, #lostconnect_div p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    background: none;
}

/* Basic loading animation */
#loading_spinner {
    position: absolute;
    left: 50%;
    /*border: 8px solid #f3f3f3; !* Light gray border *!*/
    /*border-top: 8px solid #00a5ff;*/
    /*border-radius: 50%;*/
    /*width: 50px;*/
    /*height: 50px;*/
    background: none;
    width: 100px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    animation: spin 2s linear infinite;
    z-index: 50;
}
@keyframes spin {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.button_container {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 10px; /* Adjust the distance from the right as needed */
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    background: none;
}

.act_button {
    padding: 10px;
    background-color: #0165a8;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#save_game_btn, #reset_game_btn {
    background-color: #445566;
}

/* Styling for the modal notification box */
.modal_notif {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal_notif_content {
    background-color: #0165a8;
    text-decoration: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.modal_notif_content p {
    background-color: #0165a8;
    padding: 10px;
}
.close_btn, .ack_btn {
    padding: 10px;
    background-color: #0165a8;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.ack_btn {
    background-color: #445566;
}

.monospace {
  font-family: monospace;
  background-color: #444444;
}
